h2{
  color: DarkSlateGray;
  font-family: sans-serif;
}
h3{
  color: DarkSlateGray;
  font-family: sans-serif;
}
h4{
  color: DarkSlateGray;
  font-family: sans-serif;
}
h5{
  color: DarkSlateGray;
  font-family: sans-serif;
}
table, td, th{
  font-weight: bold;
  color: DarkGoldenrod;
  border: ridge 1px;
  border-color: black;
  text-align: center;
}
ul{
  list-style-type: square;
}
.hyperLink:hover{
  background-color: blue;
  text-decoration: none;
  color: white;


}
blockquote{
  background-color: MidnightBlue;
  color: Cyan;
}
#checkbox-grid{
  list-style-type: none;
}
img{visibility: hidden;
}

ul#teamRoster>li:first-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);

  background-repeat: no-repeat;


}
ul#teamRoster>li:last-child{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
}
